<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Release Notes</title>
  </head>
  <body>
    <h1>Release Notes</h1>

    <h2>${project.version} (2015-07-23)</h2>
    <p>This maintenance release includes several refactorings and improved unit test coverage.</p>
    <ul>
      <li style="list-style: square;">Reorganize feature tests (CL1)</li>
      <li style="list-style: square;">Use JAX-RS Client in LinkValidator</li>
      <li style="list-style: square;">Fix Javadoc errors when building with JDK 8</li>
      <li style="list-style: square;">Add unit tests</li>
    </ul>

    <h2>0.2 (2015-07-10)</h2>
    <p>This update includes tests covering all conformance levels (CL1, CL2, CL3) 
    in accord with the specifications formally adopted by the OGC.</p>

    <h2>0.1 (2015-05-01)</h2>
    <p>This initial release runs the following tests against a KML 2.x document:</p>
    <ul>
      <li style="list-style: square;">ATC-102: Schema validity</li>
      <li style="list-style: square;">ATC-103: Valid geometry coordinates</li>
    </ul>

  </body>
</html>
