<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Release Notes</title>
  </head>
  <body>
    <h1>Release Notes</h1>

    <h2>${project.version} (2015-05-01)</h2>
    <p>This initial release runs the following tests against a KML 2.x document:</p>
    <ul>
      <li style="list-style: square;">ATC-102: Schema validity</li>
      <li style="list-style: square;">ATC-103: Valid geometry coordinates</li>
    </ul>

  </body>
</html>
